<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" >
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <style>
  table, th , td  {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
  }
  table tr:nth-child(odd) {
	background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
	background-color: #ffffff;
  }
  </style>

  <body>
	
	<div ng-app="coulasis" ng-controller="indexController">
	  <table>
		<tr>
		  <td> coulasis </td>
		  <td ng-repeat="d in days">
			{{d}}曜日
		  </td>
		</tr>
		<tr ng-repeat="t in times">
		  <td> {{t}} 限 </td>
		  <td ng-repeat="d in days">
			<div ng-repeat="c in get_course(d, t)">
			  <a href="{{c.url}}"> {{ c.name }} </a>
			</div>
		  </td>
		</tr>
	  </table>
	</div>
	
  </body>

  <script>
  var app = angular.module('coulasis', []);
  app.controller('indexController', function($scope, $http) {
	$http({
	  method: 'GET',
	  url: 'data.json'
	}).then(function successCallback(response) {
	   $scope.courses = response.data;
	}, function errorCallback(response) {
	  console.log("error fetching data");
	});
	$scope.days = ["月","火","水","木","金"];
	$scope.times = ["1","2","3","4","5"];
	$scope.get_course = function(day, time) {
	  var courses = [];
	  angular.forEach($scope.courses, function(course) {
		if(course.day == day && course.time == time) {
		  courses.push(course);
		}
	  }, courses);
	  return courses;
	};

  });
  </script>
</html>
